<a href="/lists">Lists</a>
<a href="/items">Items</a>

<br>

<h1>Edit List #<%= @list.id %></h1>
<br>
<form action="/lists/update/<%= @list.id %>">
    <div class="">
  <label for="lists_title">List title</label>
  <input id="lists_title" type = "text" name="the_title" placeholder="Title" value="<%= @list.title %>">
  </div>
  <div>
      <label for="movies_date">Date</label>
      <input id="movies_date" type = "integer" name="the_date" placeholder="date" value="<%= @list.date %>">
    </div>
      
    <div>
      <label for="image_url">Image URL:</label>
      <input id="image_url" type="text" name="the_image_url" placeholder="Image url" value="<%= @list.image_url %>">
    </div>
    <div>
      <button>EDIT LIST</button>
    </div>
  </form>
