<a href="/lists">Lists</a>
<a href="/items">Items</a>
<br>

<h1>Lists</h1>

<div class="">
  <a href="/lists/new_form">ADD A NEW LIST</a>
</div>

<div class="">
  <table>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Date</th>

    </tr>
    <% @list_of_lists.each do |list| %>
    <tr>
      <td>
        <img src="<%= list.image_url %>" width="80">
      </td>
      <td>
        <%= list.title %>
      </td>
      <td>
        <%= list.date %>
      </td>
      <td>
        <a href="/lists/<%= list.id %>">Show</a>
      </td>
      <td>
        <a href="/lists/edit_form/<%= list.id %>">Edit</a>
      </td>
      <td>
        <a href="/lists/delete_list/<%= list.id %>">Delete</a>
      </td>
    </tr>
    <% end %>
  </table>
</div>
